# Example env file for configuring Wylx

# Release dictates the overall operating mode of Wylx
# Release = false puts Wylx into a Beta mode which restricts some
# functionality such as prefix logic
RELEASE=False

# Discord Token used when Release = True
DISCORD_TOKEN=xxx

# Beta bot properties when Release = False
# Beta prefix overrides all database prefix settings
BETA_PREFIX=$
# Discord token used when release = false
BETA_DISCORD_TOKEN=yyy

# Mongo Database URL
MONGODB_URL="mongodb://wylx-db:27017"

# Youtube Source properties
# Oauth token for youtube-source
# See https://github.com/lavalink-devs/youtube-source?tab=readme-ov-file#using-oauth-tokens
YT_SRC_OAUTH_REFRESH_TOKEN=zzz
# Cipher/JS engine server
YT_SRC_CIPHER_URL="http://yt-cipher:8001"
YT_SRC_CIPHER_PASSWORD=password
